body{
    background:linear-gradient(15deg, #F4F6FC, #E1E8F0);
    text-align: center;
    background-repeat: no-repeat;
    min-height: 812px;
    width: 375px;
    margin: 0 auto;
    margin-top: 50px;
}
.chart_style{
  height: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}